<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ welcome }}</h1>
    <p><a href="?lang=en">EN</a> | <a href="?lang=ua">UA</a></p>
</body>
</html>